{{/* Display author list (site override). */}}
{{/* Change vs theme: authors with a profile are shown in bold text, NOT linked */}}
{{/* (so nothing links to the duplicate author profile pages). */}}

{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- $highlight_name := .Page.Params.highlight_name | default false -}}

    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
      {{- if $highlight_name -}}
        <strong>{{ .LinkTitle }}</strong>
      {{- else -}}
        {{ .LinkTitle }}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
